body
{
}

stacklayout {
}

#StackLayoutCurrentDay {
    background-color: gainsboro;
    border-radius: 5;
    margin-bottom: 20;
    padding: 20;
}

#StackLayoutNextDays {
    background-color: white;
}

#StackLayoutNextDays stacklayout {
    background-color: aquamarine;
    padding: 20;
}

.dayLabel{
    font-weight:700;
}

label {
    font-size: large;
}

#ImageIcon{

}